.container-title {

  text-align: center;
  margin-top: 70px;

  h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

  p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: rgb(0, 0, 0);
  }
}

hr.rounded {
  margin: 0 auto;
  width: 80%;
  margin-top: 70px;
  border-top: 6px solid #cdab3b;
}

